





<!DOCTYPE html>
<html>
<head>
  <style>
    body {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      margin: 0;
      background-color: #f4f4f4;
    }

    .card {
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      padding: 20px;
      width: 400px;
    }

    label, select, input[type="date"], input[type="submit"] {
      display: block;
      margin-bottom: 10px;
    }

    input[type="date"],
    select,
    input[type="submit"] {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }

    input[type="submit"] {
      background-color: #007bff;
      color: #fff;
      border: none;
      cursor: pointer;
    }

    input[type="submit"]:hover {
      background-color: #0056b3;
    }
  </style>
</head>
<body>
  <div class="card">
    <h3> Membership Form </h3>
    <%= form_with(model: [@user, @user.memberships.build]) do |form| %>
      <%= form.label :start_date %>
      <%= form.date_field :start_date, value: Date.today %>

      <%= form.label :end_date %>
      <%= form.date_field :end_date %>

      <%= form.label :status %>
      <%= form.select :status, ["Active", "Deactivate"] %>

      <%= form.submit "Proceed To Payment" %>
    <% end %>
  </div>
</body>
</html>
