<!--

<!DOCTYPE html>
<html>
<head>
  <title>Edit Details</title>
  <%= stylesheet_link_tag 'https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css' %>
   Add any other custom stylesheets if needed 
</head>
<body>
  <div class="container mt-4">
    <div class="card">
      <div class="card-body">
        <h1 class="card-title">Edit Details</h1>

        <%= form_with model: @trainer_coach do |form| %>
          <%= form.label :first_name %>
          <%= form.text_field :first_name, class: "form-control" %>

          <%= form.label :last_name %>
          <%= form.text_field :last_name, class: "form-control" %>

          <%= form.label :phone_number %>
          <%= form.text_field :phone_number, class: "form-control" %>

          <%= form.label :expertise %>
          <%= form.select :expertise, ["yoga", "Weight_lifting", "Aerobics"], {}, class: "form-control" %>

          <%= form.submit class: "btn btn-primary mt-3" %>
        <% end %>
      </div>
    </div>
  </div>
</body>
</html>

-->





<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Ion Icons Js -->
    <script type="module" src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.esm.js"></script>
    <script nomodule src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.js"></script>
    <!-- JS -->
    <!-- CSS -->
    <%#= stylesheet_link_tag "trainer/index" %>
    <%= stylesheet_link_tag "trainer/form" %>
    
    <%= stylesheet_link_tag 'home/style' %>
</head>
<body>
    <!-- Menu -->
    <div class="menu">
        <div class="container flex">
            <!-- Mobile Button -->
            <div class="mobile-btn">
                <ion-icon name="grid"></ion-icon>
            </div>
            <div class="logo">
                <%= image_tag('https://raw.githubusercontent.com/programmercloud/pgc-gym/main/img/logo.png', alt: '') %>
            </div>
            <ul class="nav">
                <li class="nav-item"><%= link_to 'Home', '/' %></li>
                <li class="nav-item"><%= link_to 'Trainer Details', '/trainer_coaches' %></li>
            </ul>
            <%#= link_to 'Login', '/users/sign_in', class: 'btn' %>
            <%= link_to "Sign Out", destroy_user_session_path, class: 'btn', data: { "turbo-method": :delete } %>
        </div>
    </div>
    <!-- End Menu -->
    <!-- Login Page -->
    <div class="container">
    <div class="flex">

        <div class="container mt-4">
    <div class="card">
      <div class="card-body">
        <h1 class="card-title">Trainer Forms</h1>


        <%= form_with model: @trainer_coach do |form| %>
          <%= form.label :first_name %>
          <%= form.text_field :first_name, class: "form-control" %>

          <%= form.label :last_name %>
          <%= form.text_field :last_name, class: "form-control" %>

          <%= form.label :phone_number %>
          <%= form.text_field :phone_number, class: "form-control" %>

          <%= form.label :expertise %>
          <%= form.select :expertise, ["yoga", "Weight_lifting", "Aerobics"], {}, class: "form-control" %>

          <%= form.submit class: "btn btn-primary mt-3" %>
        <% end %>
      </div>
    </div>
  </div>





          

                 
      </div>
    </div>
  </div>


    <!-- Login endPage -->

  




<!-- Footer -->
<footer class="footer">
    <div class="container flex">
        <p class="tertiary">
            &copy; <%= Time.now.year %> Programmer Cloud. All Rights Reserved.
        </p>
    </div>
</footer>
<!-- End Footer -->
<script src="script.js"></script>
</body>
</html>
  

