<div class="container-flouid" >
  <nav class="navbar navbar-expand-lg bg-light" >
    <div class="container">
      <a class="navbar-brand" href="/">
        <h3>Modern Gym</h3>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/trainer_coaches">Trainers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" <%=link_to "Trainer Courses", trainer_coach_courses_path(@trainer_coach) %> </a>
          </li>
              <li class="nav-item">
            <a class="nav-link active" href="/users/sign_out" >Sign out </a>
          </li>
          
 

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Blog</a>
          </li>
 
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Event</a>
          </li>

        </ul>
        <form class="">

            <%= button_to "Sign", destroy_user_session_path, method: :delete %>   
            <%= button_to "Sign out", destroy_user_session_path, method: :delete %> 

          <a class="btn btn-outline-success" href="#">Become member</a>
        </form>

      </div>
    </div>
  </nav>
</div>

<table>
  <tr>
    <td>
      <div class="card" style="width: 30rem; margin-left: 19px;">
        <div class="card-body">
          <h3>Trainer Detail</h3>

          <h5 class="card-title">Name:</h5>
          <p class="card-text"><%= @trainer_coach.first_name %> <%= @trainer_coach.last_name %></p>
          <h5 class="card-title">Mobile N0.:</h5>
          <p class="card-text"><%= @trainer_coach.phone_number %></p>
          <h5 class="card-title">Expertise:</h5>
          <p class="card-text"><%= @trainer_coach.expertise %></p>
        </div>
      </div>
    </td>
 
  </tr>
  <tr>
    <td>
      <div class="card" style="width: 60rem; margin-left: 19px;">
        <div class="card-body">
          <h3>Courses Details</h3>

                <style>
                .card-table {
                    border-collapse: collapse;
                    width: 100%;
                }

                .card-table th,
                .card-table td {
                    border: 1px solid #dddddd;
                    text-align: left;
                    padding: 8px;
                }

                .card-table th {
                    background-color: #f2f2f2;
                }
            </style>

            <table class="card-table">
                <thead>
                    <tr>
                        <th>Course ID</th>
                        <th>Class Name</th>
                        <th>Class Description</th>
                        <th>Start Time</th>
                        <th>End Time</th>
                        <th>Capacity</th>
                        <th>Show Courses</th>
                    </tr>
                </thead>
                <tbody>
                    <% @trainer_coach.courses.each do |course| %>
                        <tr>
                            <td><%= course.id %></td>
                            <td><%= course.class_name %></td>
                            <td><%= course.description %></td>
                            <td><%= course.start_time.in_time_zone('Asia/Kolkata').strftime("%H:%M %Z") %></td>
                            <td><%= course.end_time.in_time_zone('Asia/Kolkata').strftime("%H:%M %Z") %></td>
                            <td><%= course.capacity %></td>
                            <td><a href="/trainer_coaches/<%=@trainer_coach.id%>/courses/<%course.id%>" class="btn btn-primary">Show all Courses</a>
              </td>
                        </tr>
                    <% end %>
                </tbody>
            </table>

        </div>
      </div>
    </td>
  </tr>
</table>
      
<% if current_user.has_role? :admin %>
<a href="/trainer_coaches/<%=@trainer_coach.id%>/courses/new" class="btn btn-primary">Add Courses</a>
<%end%>  




<% if current_user.has_role? :admin %>
<a href="/trainer_coaches/new" class="btn btn-primary"  >Add trainer</a>  
<%end%>


<% if current_user.has_role? :admin %>
<a href="/trainer_coaches/<%=@trainer_coach.id%>/edit" class="btn btn-primary">Update</a>
<%end%>
  
