


 <!--   <h2>Forgot your password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="actions">
    <%= f.submit "Reset Password" %>
  </div>
<% end %>-->

<%#= render "devise/shared/links" %>



<style>
.card {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  max-width: 400px;
  margin: 0 auto;
}
  body {
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    .form-container {
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
      padding: 20px;
      width: 400px;
      text-align: center;
    }

    .form-container h2 {
      font-size: 24px;
      margin-bottom: 15px;
    }

    .field {
      margin-bottom: 15px;
      text-align: left;
    }

    .field label {
      display: block;
      font-weight: bold;
      margin-bottom: 5px;
    }

    .field input[type="email"] {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }

    .actions {
      margin-top: 20px;
    }

    .actions input[type="submit"] {
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 5px;
      padding: 10px 20px;
      cursor: pointer;
      font-weight: bold;
      transition: background-color 0.3s ease;
    }

    .actions input[type="submit"]:hover {
      background-color: #0056b3;
    }

    .cart-icon {
      display: inline-block;
      vertical-align: middle;
      margin-right: 5px;
    }

  </style>
  <div class="card">
    <h2>Forgot your password?</h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="actions">
        <%= f.submit "Reset Password" %>
      </div>
      <div>
        <a class="btn btn-outline-primary mr-2" href=" /users/sign_in">Login</a>
      </div>

    <% end %>
  </div>


