<!DOCTYPE html>
<html>
  <head>
    <title>ModernGym</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <%# <style>

    footer {
         /* position: fixed; */
        background-color: #383a3e;
        padding: 10px;
        text-align: center;
        font-size: 14px;
        color: azure;
    }


    </style> %>
  </head>

  <body>

      <%= yield %>
    <%# <footer>
    <p>&copy; 2023 Your Website Name. All rights reserved.</p>
    <p>Contact: www.bestpeers.com</p>
</footer> %>


  </body>
</html>
